cryptography==37.0.4
Flask==2.0.1
Werkzeug==2.2.2
Flask-Caching==2.0.0
Flask-Session==0.4.0
Flask-DebugToolbar==0.11.0
PyLTI1p3==1.9.1
gunicorn==20.1.0
Flask-MySQL==1.5.1
PyMySQL==0.10.0
typing_extensions==4.3.0
mypy-extensions==0.4.3
