<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cstools.ucd.ie/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>You are too late!</h1>
        <p>You are seeing this page because the system has determined that the submission deadline has passed. If this is incorrect, please contact your teacher.</p>
        <p>Todays date is {{data.today}}, but the task was due on {{ data.phase_end }}.</p>
    </main>
</body>