<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cstools.ucd.ie/pico.min.css">
</head>
<body>
    <p>This course ({{ data.course }}) currently does not exist on the system for iss {{data.iss}}. Complete the following form to create a new course.</p>
    <form method="post" action="{{preface~url_for('create_course')}}">
        <input type="hidden" name="iss" value="{{data.iss}}">
        <input type="hidden" name="course" value="{{data.course}}">
        <input type="hidden" name="data" value="{{data}}">
        <input type="hidden" name="id_token" value="{{id_token}}">
        <label for="coursename">Course Name:</label>
        <input type="text" id="coursename" name="coursename" placeholder="Course Name">
        <input type="submit">
    </form>
    <ul>
        <li>
            ID: {{ data.id }}
        </li>
        <li>
            Email: {{ data.email }}
        </li>
        <li>
            Username: {{ data.username }}
        </li>
        <li>
            Name: {{ data.full_name }}
        </li>
        <li>
            Role: {{ data.role }}
        </li>
        <li>
            Course Code: {{ data.course }}
        </li>
        <li>
            ISS: {{ data.iss }}
        </li>
        <li>
            Phase: {{ data.phase }}
        </li>
        <li>
            Language: {{ data.language }}
        </li>
        <li>
            Section: {{ data.section }}
        </li>
    </ul>
    <p>{{data}}</p>
    <footer>
        &copy; 2022 <a href="https://people.ucd.ie/sean.russell">Seán Russell</a>
    </footer>
</body>
</html>
