<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cstools.ucd.ie/pico.min.css">
    </head>
    <body>
        <main class="container">
            {% for r in resources %}
                <article>
                    <header>
                        {{r.title}}
                    </header>
                    <p>{{r.description}}</p>
                    <form action="{{deep_link_return_url}}" method="POST">
                        <input type="hidden" name="JWT" value="{{r.JWT}}" />
                        <input type="submit" value="Select Item">
                    </form>
                </article>
            {% endfor %}
        </main>
    </body>
</html>
