<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cstools.ucd.ie/pico.min.css">
</head>
<body>
    <h1>Section Management</h1>
    <p>This is the group of terms that are gathered as a section for the course {{data.course}} on iss {{data.iss}}. Terms remain grouped in sections, translation tasks, review tasks and voting are all based on the same group of terms for a section.</p>
    <table>
        <thead>
            <tr>
                <td>Item</td>
                <td>Information</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Section Number
                </td>
                <td>{{data.section.section}}</td>
                <td>
                    <form action="{{preface~url_for('main_page')}}" method="POST">
                        <input type="hidden" name="datajson" value="{{datajson}}">
                        <input type="submit" value="Return to Course">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    Number of Terms
                </td>
                <td>Current:{{data.section.terms|length}}</br>Wanted:{{data.section.desired_terms}}</td>
                <td>
                    <form action="{{preface~url_for('set_num_terms')}}" method="POST">
                        <input type="hidden" name="datajson" value="{{datajson}}">
                        <input type="hidden" name="section" value="{{data.section.section}}">
                        <input type="text" name="num_terms" placeholder="4">
                        <input type="submit" value="Return to Course">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    Number of Reviews
                </td>
                <td>Current:{{data.section.terms|length - 1}}</br></td>
                <td>
                    This is based on the number of terms, such that every student will encounter each term as something to translate or review.
                </td>
            </tr>
            <tr>
                <td>
                    Current Status
                </td>
                <td>{{data.section.status}}</td>
                <td>
                    {% if data.section.status == "Not prepared" %}
                        <form action="{{preface~url_for('finalise_section')}}" method="POST">
                            <input type="hidden" name="datajson" value="{{datajson}}">
                            <input type="hidden" name="section" value="{{data.section.section}}">
                            <input type="submit" value="Finalise Terms" data-tooltip="This will prevent further modification of the list of terms and allow terms to be assigned to students for translation.">
                        </form>
                    {% elif data.section.status == "Terms added to section" %}
                        <form action="{{preface~url_for('asign_terms')}}" method="POST">
                            <input type="hidden" name="datajson" value="{{datajson}}">
                            <input type="hidden" name="section" value="{{data.section.section}}">
                            <input type="submit" value="Assign Terms" data-tooltip="This will assign terms to the students who are registered in the VLE currently, any others will be randomly assigned as they access the tool.">
                        </form>
                    {% elif data.section.status == "Terms assigned to students" %}
                        <form action="{{preface~url_for('start_review')}}" method="POST">
                            <input type="hidden" name="datajson" value="{{datajson}}">
                            <input type="hidden" name="section" value="{{data.section.section}}">
                            <input type="submit" value="Initiate Review" data-tooltip="This will assign terms to the students who are registered in the VLE currently, any others will be randomly assigned as they access the tool.">
                        </form>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <h1>Terms</h1>
    <p>There are the following {{data.section.terms|length}} terms are prepared in this section:</p>
    <!-- A table for showing the section number and status for each section -->
    <table>
        <thead>
            <tr>
                <td>Term</td>
                <td>Assigned to</td>
                <td>Number of times translated</td>
                <td>Number of times reviewed</td>
                <td>Number of times voted on</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for t in data.section.terms %}
                <tr>
                    <td>{{t.term}}</td>
                    <td>{{data.section.trans_assignments[t.term]| join(', ')}}</td>
                    <td>{{data.section.trans_numbers[t.term]}}</td>
                    <td>{{data.section.review_numbers[t.term]}}</td>
                    <td>{{data.section.vote_numbers[t.term]}}</td>
                    <td>
                        {% if data.section.status == "Not prepared" %}
                        <form action="{{preface~url_for('delete_term')}}" method="POST">
                            <input type="hidden" name="section" value="{{data.section.section}}">
                            <input type="hidden" name="term_id" value="{{t.id}}">
                            <input type="hidden" name="datajson" value="{{datajson}}">
                            <input type="submit" value="Delete Term">
                        </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if data.section.status == "Not prepared" %}
    <form action="{{preface~url_for('add_term')}}" method="POST">
        <input type="hidden" name="section" value="{{data.section.section}}">
        <input type="hidden" name="datajson" value="{{datajson}}">
        <input type="text" name="term" placeholder="Term">
        <input type="submit" value="Add New Term(s)">
    </form>
    {% endif %}
   
    <footer>
        &copy; 2022 <a href="https://people.ucd.ie/sean.russell">Seán Russell</a>
    </footer>
</body>
</html>
