<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cstools.ucd.ie/pico.min.css">
</head>
<body>
    <p>This course {{ data.course }} currently exists on the system for iss {{data.iss}}.</p>
    <form action="{{preface~url_for('delete_course')}}" method="POST">
        <input type="hidden" name="iss" value="{{data.iss}}">
        <input type="hidden" name="course" value="{{data.course}}">
        <input type="hidden" name="datajson" value="{{datajson}}">
        <input type="hidden" name="id_token" value="{{id_token}}">
        <input type="submit" value="Delete Course">
    </form>
    <h1>Sections</h1>
    <p>There are the following {{data.sections|length}} sections (groups of terms) prepared in this course:</p>
    <!-- A table for showing the section number and status for each section -->
    <table>
        <thead>
            <tr>
                <td>Section Number</td>
                <td>Current Status</td>
                <td>Terms</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for s in data.sections %}
                <tr>
                    <td>
                        {{s.section}}</td>
                    <td>{{s.status}}</td>
                    <td>{{s.terms| map(attribute='term') | list | join(', ')}}</td>
                    <td>
                        <form action="{{preface~url_for('manage_section')}}" method="POST">
                            <input type="hidden" name="iss" value="{{data.iss}}">
                            <input type="hidden" name="course" value="{{data.course}}">
                            <input type="hidden" name="section" value="{{s.section}}">
                            <input type="hidden" name="datajson" value="{{datajson}}">
                            <input type="hidden" name="id_token" value="{{id_token}}">
                            <input type="submit" value="Manage Section">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{preface~url_for('add_section')}}" method="POST">
        <input type="hidden" name="iss" value="{{data.iss}}">
        <input type="hidden" name="course" value="{{data.course}}">
        <input type="hidden" name="datajson" value="{{datajson}}">
        <input type="hidden" name="id_token" value="{{id_token}}">
        <input type="hidden" name="sec_number" value="{{data.sections|length}}">
        <input type="submit" value="Add New Section">
    </form>
    <h1>Teaching Assistants</h1>
    <p>There are the following {{data.tas|length}} teaching assistants registed for this course:</p>
    
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Last Access</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for t in data.tas %}
                <tr>
                    <td>
                        {% if t.fullname is defined %}
                            {{t.fullname}}
                        {% endif %}
                    </td>
                    <td>
                        {% if t.email is defined %}
                            {{t.email}}
                        {% endif %}
                    </td>
                    <td>
                        {% if t.last_action is defined %}
                            {{t.last_action}}
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{preface~url_for('remove_ta')}}" method="POST">
                            <input type="hidden" name="iss" value="{{data.iss}}">
                            <input type="hidden" name="course" value="{{data.course}}">
                            <input type="hidden" name="ta_id" value="{{t.id}}">
                            <input type="hidden" name="datajson" value="{{datajson}}">
                            <input type="hidden" name="id_token" value="{{id_token}}">
                            <input type="submit" value="Remove TA">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{preface~url_for('add_tas')}}" method="POST">
        <input type="hidden" name="iss" value="{{data.iss}}">
        <input type="hidden" name="course" value="{{data.course}}">
        <input type="hidden" name="datajson" value="{{datajson}}">
        <input type="hidden" name="id_token" value="{{id_token}}">
        <input type="text" name="tas" placeholder="Enter TA email addresses separated by commas">
        <input type="submit" value="Add Teaching Assistants">
    </form>
    <footer>
        &copy; 2022 <a href="https://people.ucd.ie/sean.russell">Seán Russell</a>
    </footer>
</body>
</html>
