<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cstools.ucd.ie/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>No Action Required</h1>
        <p>You are seeing this page because the system has identified you as a teaching assistant. If this is incorrect, please consult your teacher.</p>
        <p>If you are a teaching assistant, you have not tasks to be completed in this phase of the assessment.</p>
    </main>
</body>