<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cstools.ucd.ie/pico.min.css">
</head>
<body>
    <h1>Reviews</h1>
    <p>This is the list of translated terms that you need to review. Your reviews will be graded, so please make them as accurate as possible. For an introduction to the assessment criteria see this <a href="{{ preface~url_for('static', filename='assessment.html') }}" target="_blank">page</a>.</p>
    {% for review in reviews %}
    <article>
        <header>
            <!-- r_id t_id term transterm transdescription -->
            {{review.term}}
        </header>
        <p>{{ review.transterm }}</p>
        <p>
            {% if review.completed %}
                Status: Completed
            {% else %}
                Status: Not completed
            {% endif %}
        </p>
        <form action="{{ preface~url_for('show_review') }}" method="post">
            <input type="hidden" id="rev_ass_id" name="rev_ass_id" value="{{ review.rev_ass_id }}">
            <input type="hidden" name="datajson" value="{{datajson}}">
            {% if review.completed %}
                <input type="submit" value="Update Review">
            {% else %}
                <input type="submit" value="Review Translation">
            {% endif %}
        </form>
    </article>

    {% endfor %}
    
    <footer>
        &copy; 2022 <a href="https://people.ucd.ie/sean.russell">Seán Russell</a>
    </footer>
</body>
</html>
