<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cstools.ucd.ie/pico.min.css">
</head>
<body>
    {% if review.completed %}
    <form action="{{ preface~url_for('add_new_review') }}" method="post">
        <p>You are requested to review the translation of the term {{ term.term }} that was completed by one of your classmates. Your grade will be based on how accutately you complete the review. For an introduction to the assessment process see this <a href="{{ preface~url_for('static', filename='assessment.html') }}" target="_blank">page</a>.</p>
        <input type="hidden" id="r_id" name="r_id" value="{{ review.r_id }}">
        <input type="hidden" id="t_id" name="t_id" value="{{ review.t_id }}">
        <input type="hidden" id="term" name="term" value="{{ review.term }}">
        <input type="hidden" id="transterm" name="transterm" value="{{ review.transterm }}">
        <input type="hidden" id="transdescription" name="transdescription" value="{{ review.transdescription }}">
        <input type="hidden" id="completed" name="completed" value="{{ review.completed }}">
        <fieldset>
            <legend>Size</legend>
            <label for="Inadequate">
                <input type="radio" id="Inadequate" name="size" value="0">
                Inadequate
            </label>
            <label for="Adequate">
                <input type="radio" id="Adequate" name="size" value="1">
                Adequate
            </label>
            <label for="Proficient">
                <input type="radio" id="Proficient" name="size" value="2">
                Proficient
            </label>
            <label for="Skilled">
                <input type="radio" id="Skilled" name="size" value="3">
                Skilled
            </label>
            <label for="Exceptional">
                <input type="radio" id="Exceptional" name="size" value="4">
                Exceptional
            </label>
        </fieldset>
        <label for="comments" data-tooltip="This section is completely optional. But you can add some constructive feedback here.">
            Comments:
            <textarea id="comments" name="comments" rows="8" cols="40"></textarea>
        </label>
        <input type="submit" value="Add Translation">
    </form>
    {% elif term.status == 1 %}
    <form action="{{ preface~url_for('add_new_review') }}" method="post">
        <p>You are requested to review the translation of the term {{ term.term }} that was completed by one of your classmates. Your grade will be based on how accutately you complete the review. For an introduction to the assessment process see this <a href="{{ preface~url_for('static', filename='assessment.html') }}" target="_blank">page</a>.</p>
        <input type="hidden" id="r_id" name="r_id" value="{{ review.r_id }}">
        <input type="hidden" id="t_id" name="t_id" value="{{ review.t_id }}">
        <input type="hidden" id="term" name="term" value="{{ review.term }}">
        <input type="hidden" id="transterm" name="transterm" value="{{ review.transterm }}">
        <input type="hidden" id="transdescription" name="transdescription" value="{{ review.transdescription }}">
        <input type="hidden" id="completed" name="completed" value="{{ review.completed }}">
        <fieldset>
            <legend>Size</legend>
            <label for="Inadequate">
                <input type="radio" id="Inadequate" name="size" value="0" {% if review.review_score == 0 %}checked{% end if %}>
                Inadequate
            </label>
            <label for="Adequate">
                <input type="radio" id="Adequate" name="size" value="1" {% if review.review_score == 1 %}checked{% end if %}>
                Adequate
            </label>
            <label for="Proficient">
                <input type="radio" id="Proficient" name="size" value="2" {% if review.review_score == 2 %}checked{% end if %}>
                Proficient
            </label>
            <label for="Skilled">
                <input type="radio" id="Skilled" name="size" value="3" {% if review.review_score == 3 %}checked{% end if %}>
                Skilled
            </label>
            <label for="Exceptional">
                <input type="radio" id="Exceptional" name="size" value="4" {% if review.review_score == 4 %}checked{% end if %}>
                Exceptional
            </label>
        </fieldset>
        <label for="comments" data-tooltip="This section is completely optional. But you can add some constructive feedback here.">
            Comments:
            <textarea id="comments" name="comments" rows="8" cols="40">{{review.comments}}</textarea>
        </label>
        <input type="submit" value="Add Translation">
    </form>
    <form action="{{ preface~url_for('add_new_translation') }}" method="post">
        <p>You have already completed the translation of {{ term.term }} into {{ data.language }}. You can updated this translation before the final deadline. For an introduction to the assessment process see this <a href="{{ preface~url_for('static', filename='assessment.html') }}" target="_blank">page</a>.</p>
        <input type="hidden" id="term" name="term" value="{{ term.term }}">
        <input type="hidden" id="trans_ass_id" name="trans_ass_id" value="{{ term.id }}">
        <input type="hidden" name="datajson" value="{{datajson}}">
        <label for="termtrans" data-tooltip="This should be the best translation of the term that you can come up with.">
            Translated Term:
            <input type="text" id="termtrans" name="termtrans" value="{{term.transterm}}" placeholder="{{term.transterm}}">
        </label>
        <label for="translation" data-tooltip="This should be an explanation of definition for the term in {{language}}. You should make this as clear as you can, but should try and write less than 5 sentences.">
            Description:
            <textarea id="translation" name="translation" rows="8" cols="40"></textarea>
        </label>
        <input type="submit" value="Update Translation">
    </form>
    
    {% endif %}
    <footer>
        &copy; 2022 <a href="https://people.ucd.ie/sean.russell">Seán Russell</a>
    </footer>
</body>
</html>
