<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cstools.ucd.ie/pico.min.css">
</head>
<body>
    <h1>Sections</h1>
    <p>There are the following {{data.sections|length}} sections (groups of terms) prepared in this course:</p>
    <!-- A table for showing the section number and status for each section -->
    <table>
        <thead>
            <tr>
                <td>Section Number</td>
                <td>Current Status</td>
                <td>Terms</td>
            </tr>
        </thead>
        <tbody>
            {% for s in data.sections %}
                <tr>
                    <td>
                        {{s.section}}</td>
                    <td>{{s.status}}</td>
                    <td>{{s.terms| map(attribute='term') | list | join(', ')}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Teaching Assistants</h1>
    <p>There are the following {{data.tas|length}} teaching assistants registed for this course:</p>
    
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Last Access</td>
            </tr>
        </thead>
        <tbody>
            {% for t in data.tas %}
                <tr>
                    <td>
                        {% if t.fullname is defined %}
                            {{t.fullname}}
                        {% endif %}
                    </td>
                    <td>
                        {% if t.email is defined %}
                            {{t.email}}
                        {% endif %}
                    </td>
                    <td>
                        {% if t.last_action is defined %}
                            {{t.last_action}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Students</h1>
    <p>There are the following {{data.students|length}} students registered for this course:</p>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Last Access</td>
            </tr>
        </thead>
        <tbody>
            {% for t in data.students %}
                <tr>
                    <td>
                        {% if t.fullname is defined %}
                            {{t.fullname}}
                        {% endif %}
                    </td>
                    <td>
                        {% if t.email is defined %}
                            {{t.email}}
                        {% endif %}
                    </td>
                    <td>
                        {% if t.last_action is defined %}
                            {{t.last_action}}
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        &copy; 2022 <a href="https://people.ucd.ie/sean.russell">Seán Russell</a>
    </footer>
</body>
</html>
