<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cstools.ucd.ie/pico.min.css">
</head>
<body>
    <h1>Voting</h1>
    <p>The list below is the terms that you can vote on. This allows you to have an influence on which translations will be used in the final glossary of terms we produce in the class.</p>
    {% for vote in vote_terms %}
    <article {% if vote.completed %}style="background-color:#e6ffe6"{%else%}style="background-color:#ffe6e6"{% endif %}>
        <header>
            <!-- r_id t_id term transterm transdescription -->
            {{vote.term}}
        </header>
        <p>
            {% if vote.completed %}
                Status: Completed
            {% else %}
                Status: Not completed
            {% endif %}
        </p>
        <form action="{{ preface~url_for('show_vote') }}" method="post">
            <input type="hidden" id="vot_ass_id" name="rev_ass_id" value="{{ vote.vot_ass_id }}">
            <input type="hidden" name="datajson" value="{{datajson}}">
            {% if review.completed %}
                <input type="submit" value="Update Review">
            {% else %}
                <input type="submit" value="Review Translation">
            {% endif %}
        </form>
    </article>

    {% endfor %}
</body>
</html>
