<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cstools.ucd.ie/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>Submission deadline has passed</h1>
        <p>You are seeing this page because the system has determined that task is not available yet. If this is incorrect, please contact your teacher.</p>
        <p>Todays date is {{data.today}}, but the task will be available from {{ data.phase_start }}.</p>
    </main>
</body>